
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 48 100% 61%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 71% 45%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-gradient-main text-brand-primary font-sans text-[10px];
  }

  h1 {
    @apply text-xs font-semibold;
  }

  h2 {
    @apply text-[11px] font-semibold;
  }

  h3 {
    @apply text-[10px] font-semibold;
  }

  label {
    @apply text-[9px] font-medium;
  }
}
